<!-- <mat-card-title style="text-align: center; margin-top: 5%; color: #001b3f; font-size: 36px;">Crud
    Operation</mat-card-title><br> -->

<div class="card" >
    <h1 style="align-items: center; float: left ;margin : 20px;">Dashboard</h1>
    <div class="example-button-row" >
       
        <mat-card class="example-card " appearance="outlined">
            <div mat-card-avatar class></div>
            <mat-card-title >List View</mat-card-title><br>
            <mat-card-actions  type="button"  class="btn btn-group">
                <button mat-raised-button class="btn" mat-raised-button (click)="navigateToList()">view</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card " appearance="outlined">
            <div mat-card-avatar class></div>
            <mat-card-title >Detail View</mat-card-title><br>
            <mat-card-actions  type="button"  class="btn btn-group">
                <button mat-raised-button  class="btn" mat-raised-button (click)="navigateToDetail()" >view</button>
            </mat-card-actions>
        </mat-card>

    </div>

</div>